.fullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*width of each section*/
.section1.win-hub-section {
    width: 650px;
    overflow: hidden;
}

.section2.win-hub-section {
    width: 294px; 
}

/*Images in a FlexBox*/
.imagesFlexBox {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    width: calc(100% + 10px);
    height: 100%;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
}

    .imagesFlexBox .imageItem {
        margin: 5px;
    }

#insertListView {
    height: 100%;
}

.horizontallistview {
    height: 100%;
}

/*ListView style inside section container*/
.section2 #listView.win-listview {
    /* height: calc(100% - 150px); */
    width: 100%;
}


.section2 #listView.win-listview .win-container {
    width: 242px;
    height: 60px;
}

/* Template for the items in the ListViews in this sample */
.section2 .smallListIconTextItem {
    width: 242px;
    height: 60px;
    background-color: lightgray;
}

    .section2 .smallListIconTextItem img.smallListIconTextItem-Image {
        float:left;
        width: 80px;
        height: 60px;
        margin-right:10px;
    }

    .section2 .smallListIconTextItem .smallListIconTextItem-Detail {
        margin: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        color:black;
    }

/*App Header Styles*/
#appHeader {
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 50px;
}

    #appHeader .win-navigation-backbutton {
        margin-right: 20px;
    }

    #appHeader h1 {
        display: inline;
    }


